* {
    padding: 0;
    margin: 0;
} 

#main-block {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-items: center; 
    background-color: blue; 
    color: #fff;
    padding: 20px;
}

.main-block_info-message,
.main-block_info-content {
    min-width: 100%;
}